* {
  border: 0px solid var(--border-color);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
}

.container {
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  @media (max-width: 640px) {
    max-width: 300px;
  }

  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 640px;
  }

  @media (min-width: 1024px) {
    max-width: 768px;
  }

  @media (min-width: 1280px) {
    max-width: 1024px;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:root {
  --border-color: #e5e7eb;
  --theme-color: #668e37;
  --text-color: white;
}
